<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <style>
    body {
      background-image: url("/images/indexbackg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed;
      background-color: #cccccc;
      max-width: 100%;
      color: #98FB98;
      overflow: visible
  }


  .index_container {
      max-width: 960px;
      margin: auto;
      overflow: hidden;
      padding: 0 3rem;
  }

  .index_showcase {
      background-color: rgb(255, 239, 213);
      opacity: .8;
      color: #6B8E23;
      }

  .index_showcase-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: justify;
      height: 100%;
  }


  </style>
  </head>


  <header class="index_showcase">
  <div class="index_container index_showcase-inner">
  <h2>All Journal Entries:</h2><br>

<% @journal_entries.each do |journal_entry| %>
  <h4><strong><%= journal_entry.title %></strong></h4><br>
  <p><%= journal_entry.content %></p><br>
  <p> By: <%= journal_entry.user.name %></p>
  <br><h5><a href="/journal_entries/<%= journal_entry.id %>"><%= journal_entry.format_created_at %></a></h5>
  <br> <br>
<% end %>
</div>
</html>
