<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <style>
    body {
      background-image: url("/images/yoga7.jpg");
      background-position: center;
      background-size: cover;
      background-color: #cccccc;
      background-repeat: no-repeat;
      max-width: 100%;
      height: auto;
      color: #483D8B;
}
  form {
    text-align: center;
    color: #483D8B;
}
  .button {
    background-color: #483D8B;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.showjournal_container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showjournal_showcase {
    background-color: rgb(255, 239, 213);
    color: #ffffff;
    opacity: .8;
    height: 45vh;
}

.showjournal_showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 100%;
}

</style>
</head>
<body>


<header class="showjournal_showcase">
  <div class="showjournal_container showjournal_showcase-inner">
    <br><br><h2 style="font-size: 40px; text-align: center; color: #483D8B;"><%= @journal_entry.title %><br></h2><br><br>
 <p style="color: #483D8B; text-align: center; font-size: 25px;"><%= @journal_entry.content %></p><br><br>


<% if authorized_to_edit?(@journal_entry) %>
  <a href="/journal_entries/<%= @journal_entry.id %>/edit " class="button">Edit Entry</a>
  <br> <br>
    <form class="" action="/journal_entries/<%= @journal_entry.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="button" value="Delete this Entry">
  </form>
<% end %>
<br><br><p style="color: #483D8B; text-align: center;">Created On:  <%= @journal_entry.format_created_at %></p><br>
</body>
</html>
